
@{
    ViewData["Title"] = "Ayetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-1 bg-primary text-light text-center pt-1 ">

        <ul class="list-group list-group-horizontal ">
            <div class="dropdown mx-0">
                <button class="btn text-light dropdown-toggle btn-sm mt-1 border border-0 bg-primary " type="button" data-bs-toggle="dropdown" aria-expanded="false">Fatiha Suresi(1/7)</button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                  <li><a class="dropdown-item text-light" href="#">Fatiha</a></li>
                  <li><a class="dropdown-item text-light" href="#">Bakara</a></li>
                  <li><a class="dropdown-item text-light" href="#">Âl-i İmrân</a></li>
                  <li><a class="dropdown-item text-light" href="#">Nisâ</a></li>
                  <li><a class="dropdown-item text-light" href="#">Mâide</a></li>
                  <li><a class="dropdown-item text-light" href="#">En'âm</a></li>
                  <li><a class="dropdown-item text-light" href="#">A'râf</a></li>
                </ul>
            </div>
            <li class="list-group-item mx-auto border border-0 bg-primary "><a class="icon-link icon-link-hover icon-link-underline link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(-.175rem, 0, 0);" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
              </svg>  Önceki</a>
            </li>
            <h3 class="mx-auto " >Fatiha Suresi 1.Ayet</h3>
            <li class="list-group-item mx-auto border border-0 bg-primary"><a class="icon-link icon-link-hover icon-link-underline link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(+.175rem, 0, 0);"  href="#">İleri  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
              </svg></a></li>
        </ul>
    </div>
    <div class="container text-center sidebar">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-light mt-2 content-wrapper">
          <div class="col">
            <div class="p-3">
              <form action="">
                <fieldset class="border border-4 border-opacity-25 rounded border-light">
                  <legend class="my-1">Meal Ekle/Çıkar</legend>
                  <div class="form-check my-1 mx-1 mb-4 border-bottom border-top">
                    <input class="form-check-input" type="checkbox" value="" id="checkAll" checked="">
                    <label class="form-check-label" for="checkAll">
                    Hepsini Göster/Gizle
                    </label>
                  </div>
                  <div class="form-check my-1 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="">
                    <label class="form-check-label" for="flexCheckDefault">
                    Arapça Metin
                    </label>
                  </div>
                  <div class="form-check my-1 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Türkçe Transcript
                    </label>
                  </div>
                  <div class="form-check my-1 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Abdulbaki Gölpınarlı Meali
                    </label>
                  </div>
                  <div class="form-check my-1 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Abdullah-Ahmet Akgül Meali
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Besim Atalay Meali (1965)
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Cemal Külünkoğlu Meali
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Cemil Said (1924)
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Kur'an Yolu (Diyanet İşleri)
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Hasan Basri Çantay Meali
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    İsmail Yakıt
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Mahmut Kısa Meali
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Abdullah Parlıyan Meali
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Mehmet Çoban Meali
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Orhan Kuntman Meali
                    </label>
                  </div>
                  <div class="form-check mt-1 mb-2 mx-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                    Süleyman Ateş Meali
                    </label>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col col-xxl">
            <div class="p-3">
              <ul class="list-group">
                <li class="list-group-item d-flex align-items-center justify-content-between ">
                  <p class="text-start ms-1">Arapça Metin</p>
                  <p class="ms-4">بِسْمِ اللَّهِ اَلرَّحْمٰنِ الرَّحِيمِ</p>

                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Türkçe Transcript (*)</p>
                  <p class="ms-4">Bismi(A)llâhi-rrahmâni-rrahîm(i)</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Abdulbaki Gölpınarlı Meali</p>
                  <p class="ms-4">Rahman ve rahim Allah adiyle</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Ahmet Varol Meali</p>
                  <p class="ms-4">Rahman ve rahim Allah adiyle</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Diyanet İşleri Meali (Yeni)</p>
                  <p class="ms-4">Bismillâhirrahmânirrahîm.[1][2][3]</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Edip Yüksel Meali</p>
                  <p class="ms-4">Rahman ve Rahim ALLAH'ın ismiyle</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">İsmail Yakıt</p>
                  <p class="ms-4">Rahmân, Rahîm Allah Adıyla¹</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Mehmet Çoban Meali</p>
                  <p class="ms-4">arlıkları, olayları, hayatı, her şeyi kuşatan, her şeyi koruyan Allah’ın adıyla okur, her işime Allah’ın adıyla başlarım! Gördüğüm görmediğim her şey Rabbimin koruması, Rabbimin kuşatması altındadır. Varlıklar arasında ayrımcılık yapılmaz. İnsanlar ister inansın ister inanmasın Allah tarafından kuşatılır, korunur. İnkâr edenler anlamasalar da Allah’ın katında eşitlik bozulmaz. Herkes kendi yaptığından sorumludur.</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Orhan Kuntman Meali</p>
                  <p class="ms-4">Rahman ve Rahim olan Allah'ın adıyla</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Eski Anadolu Türkçesi</p>
                  <p class="ms-4">Tañrı adıyıla ya'nį başların yā oķırın gey raḥmet ķılıcı raḥmet ķılıcı</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Yaşar Nuri Öztürk Meali</p>
                  <p class="ms-4">Rahman ve Rahîm Allah'ın adıyla...</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Şaban Piriş Meali</p>
                  <p class="ms-4">Rahman ve Rahim olan Allah'ın adıyla</p>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <p class="text-start ms-1">Yusuf Ali (English)</p>
                  <p class="ms-4">In the name of Allah, Most Gracious, Most Merciful(19).</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>

