@using Microsoft.EntityFrameworkCore
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<link href="~/css/style.css" rel="stylesheet">
<div class="container-fluid p-1 bg-primary text-light text-center">
    <h2>Sûre Listesi</h2>
</div>
@{
    KuranContext kuran = new KuranContext();
    //var sureler = from sure in kuran.SureTables select sure;
    var sureler = await (from sure in kuran.SureTables select sure).ToListAsync();
    int b = 0;

    //foreach (var i in sureler)
    //{
    //<p>@i.Sureler</p>
    //}
}
<div class="container mt-5 mx-auto">
    @for (int i = 0; i < 38; i++)
    {
        <div class="row">
            @for (int a = 0; a < 3; a++)
            {
                <div class="col-sm border mx-3 mt-3 rounded" id="myTable" name="aranan">
                    <form asp-controller="Home" asp-action="Sure" method="post" style="display:inline;">
                        <input type="hidden" name="sureNumarasi" value="@sureler[b].SureId" />
                        <input type="hidden" name="ayetNumarasi" value="1" />
                        <button class="nav-link my-1  d-flex align-items-center justify-content-between" type="submit">
                            
                            <h2 class="text-light text-start m-0">
                                @sureler[b].Sureler.Split("/")[0]
                            </h2>
                            <p class="text-end mb-0 mt-3">@sureler[b].AyetSayisi Ayet</p>
                        </button>
                    </form>
                </div>
                b = b + 1;

            }
        </div>
    }
</div>

<script>
   
</script>
